.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 2rem;
}

.a {
    text-decoration: none;
    color: white;
}

.active {
    color: #16d045;
    text-decoration: none;
}

.img {
    display: block;
    height: 15rem;
    width: 10rem;
    margin: 0 auto;
    object-fit: contain;
    cursor: pointer;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
    padding: 1rem;
    text-align: center;
    max-width: 25rem;
    max-height: 30rem;
}

.title {
    padding: 0.5rem;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 3rem;
}

.price {
    color: #018d01;
    padding-bottom: 1rem;
}

.btn {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    border: none;
    height: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 0.1rem;
}

.btn:active {
    transform: scale(0.96)
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 50%;
    max-height: 100%;
    background-color: white;
    padding: 2rem;
    border-radius: 0.6rem;
    text-align: center;
}

.modalbtn {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    border: none;
    font-size: 1.2rem;
    width: 1.5rem;
    transition: all 0.2s ease;
    border-radius: 0.3rem;
    background-color: #4d4d4d;
    color: white;
}

.modalbtn:active {
    transform: scale(0.96)
}

.modalbtn:hover {
    background-color: #8c8c8c;
    cursor: pointer;

}

.modalTitle {
    padding-top: 1rem;
}

.modalDesc {
    margin-top: 1rem;
}


@media (min-width: 2560px) {
    .grid {
        padding-top: 5%;
    }

    .card {
        max-width: 25rem;
        height: 30rem;
    }

    .nav {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .btn {
        width: 75%;
        margin: 0 auto;
        min-height: 2rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    .modalTitle {
        font-size: 2rem;
    }

    .modalDesc {
        font-size: 1.7rem;
    }

    .price {
        font-size: 2rem;
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .grid {
        padding-top: 5%;
    }

    .nav {
        font-size: 1.5rem;
        padding-top: 2.5rem;
    }
    
    .modalTitle {
        font-size: 1.5rem;
    }
    
    .modalDesc {
        font-size: 1.4rem;
    }
    
    .price {
        font-size: 2rem;
    }
}

@media (max-width: 1440px) {
    .card {
        max-height: 22em;
    }
    .title {
        font-size: 0.8rem;
        height: 0rem;
        padding: 1.5rem;
    }

    .img {
        height: 10rem;
    }

}

@media (max-width: 786px) {  

    .modal {
        min-width: 80%;
    }

        .modalTitle {
            padding-top: 0rem;
            font-size: 0.9rem;
        }
    
        .modalDesc {
            font-size: 0.8rem;
        }
}

@media (max-width: 425px) {
    .nav {
        padding-right: 2rem;
    }

    .grid {
        padding: 1.5rem;
    }

    .modalTitle {
        padding-top: 0.2rem;
        font-size: 0.8rem;
    }
    
    .modalDesc {
        font-size: 0.7rem;
    }

    .modalbtn {
        font-size: 0.9rem;
    }


}

@media (max-width: 375px) {
    .nav {
        font-size: 0.9rem;
    }

    .modal {
        min-width: 80%;
    }

    .modalTitle {
        padding-top: 0rem;
        font-size: 0.65rem;
    }
    
    .modalDesc {
        font-size: 0.6rem;
    }
    
        .modalbtn {
            font-size: 0.9rem;
        }


}

@media (max-width: 320px) {
    .grid {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .nav {
        font-size: 0.7rem;
    }
}

@media (min-width: 319px) and (max-width: 345px) {
    .nav {
        font-size: 0.7rem;
    }

    .grid {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

